// @base-color: #000;
@base-color: #2A89FF;
// @base-color: red;
@8: fade(@base-color, 8%);
@10: fade(@base-color, 10%);
@15: fade(@base-color, 15%);
@20: fade(@base-color, 20%);
@30: fade(@base-color, 30%);
@32: fade(@base-color, 32%);
@40: fade(@base-color, 40%);
@50: fade(@base-color, 50%);
@56: fade(@base-color, 56%);
@60: fade(@base-color, 60%);
@80: fade(@base-color, 80%);
.phoneSchedule {
    width: 100%;
    .title {
        padding: 5px 0 5px 20px;
    }
}

.pcSchedule {
    max-width: 760px;
    width: 100%;
    .title {
        padding: 5px 0 5px 20px;
    }
    .pcContent {
        display: flex;
    }
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    .button {
        width: 32px;
        text-align: center;
        cursor: pointer;
        .select {
            width: 32px;
            height: 21px;
            border-radius: 4px;
            color: #fff;
            background: @60;
        }
    }
    .cell {
        width: 60px;
        text-align: center;
        cursor: pointer;
        color: @80;
    }
}

.phoneMonth {
    width: 100%;
    .header {
        width: 100%;
        height: 60px;
        display: flex;
        .weekGrid {
            height: 60px;
            line-height: 60px;
            text-align: center;
            width: 100%;
        }
    }
    .content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .monthGird {
            height: 60px;
            line-height: 60px;
            text-align: center;
            width: 14.285%;
            cursor: pointer;
            color: #aaa;
            .day {
                height: 36px;
                line-height: 36px;
            }
            .lesson {
                height: 24px;
                line-height: 24px;
                font-size: 10px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                .cell {
                    width: 6px;
                    height: 6px;
                    margin: 1px;
                }
            }
        }
        .thisMonth {
            color: #000;
        }
        .today {
            background: @10;
            color: @base-color;
        }
    }
}

.pcMonth {
    width: calc(~"100% - 200px");
    .header {
        width: 100%;
        height: 60px;
        display: flex;
        .weekGrid {
            height: 60px;
            line-height: 60px;
            text-align: center;
            width: 100%;
        }
    }
    .content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .monthGird {
            height: 60px;
            line-height: 60px;
            text-align: center;
            width: 14.285%;
            cursor: pointer;
            color: #aaa;
            background: #fff;
            .day {
                height: 40px;
                line-height: 60px;
            }
            .lesson {
                height: 20px;
                line-height: 20px;
                font-size: 10px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                .cell {
                    width: 6px;
                    height: 6px;
                    margin: 1px;
                }
            }
        }
        .monthGird:hover {
            background: @8;
        }
        .thisMonth {
            color: #000;
        }
        .today {
            background: @10;
            color: @base-color;
        }
    }
}

.phoneWeek {
    width: 100%;
    .header {
        width: 100%;
        height: 30px;
        display: flex;
        padding-top: 16px;
        .weekGrid {
            height: 30px;
            text-align: center;
            width: 100%;
        }
    }
    .content {
        width: 100%;
        display: flex;
        .weekGrid {
            height: 100%;
            text-align: center;
            width: 100%;
            font-size: 10px;
            width: 14.28%;
            margin: 2px;
            .lessonColumn {
                display: flex;
                flex-direction: column;
                .morning {
                    background: @8;
                    padding-top: 5px;
                    width: 100%;
                    height: 60px;
                    margin: 2px;
                }
                .afternoon {
                    background: @32;
                    padding-top: 5px;
                    width: 100%;
                    height: 60px;
                    margin: 2px;
                }
                .night {
                    background: @56;
                    padding-top: 5px;
                    width: 100%;
                    height: 60px;
                    margin: 2px;
                }
            }
        }
    }
}

.pcWeek {
    max-width: 760px;
    width: 100%;
    .header {
        width: 100%;
        height: 30px;
        display: flex;
        padding-top: 16px;
        .weekGrid {
            height: 30px;
            text-align: center;
            width: 100%;
        }
    }
    .content {
        width: 100%;
        display: flex;
        .weekGrid {
            height: 100%;
            text-align: center;
            width: 100%;
            font-size: 10px;
            width: 14.28%;
            margin: 2px;
        }
    }
}

.detail {
    width: 200px;
    height: 420px;
    background: @8;
    border-radius: 10px;
    overflow: auto;
    .detailHeader {
        height: 60px;
        line-height: 60px;
        padding-left: 20px;
        font-size: 16px;
    }
    .list {
        padding: 0 20px 20px 20px;
        .item {
            .subtitle {
                height: 40px;
                line-height: 40px;
            }
            .card {
                width: 160px;
                height: 100px;
                background: #fff;
                border-radius: 4px;
            }
        }
    }
}