.phoneSchedule {
    max-width: 560px;
    width: 100%;
    .today {
        padding-left: 4%;
    }
}

.pcSchedule {
    max-width: 760px;
    width: 100%;
    .today {
        padding-left: 4%;
    }
    .pcContent {
        display: flex;
    }
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    .button {
        width: 31px;
        text-align: center;
        cursor: pointer;
        .select {
            margin: 0 5px;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            color: #fff;
            background: #000;
        }
    }
    .cell {
        width: 60px;
        text-align: center;
        cursor: pointer;
    }
}

.month {
    max-width: 560px;
    width: 100%;
    .header {
        width: 100%;
        height: 60px;
        display: flex;
        .weekGrid {
            height: 60px;
            line-height: 60px;
            text-align: center;
            width: 100%;
        }
    }
    .content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .monthGird {
            height: 60px;
            line-height: 60px;
            text-align: center;
            width: 14.285%;
            .day {
                height: 40px;
                line-height: 60px;
            }
            .lesson {
                height: 20px;
                line-height: 20px;
                font-size: 10px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                .cell {
                    width: 6px;
                    height: 6px;
                    margin: 1px;
                }
            }
        }
    }
}

.pcWeek {
    max-width: 760px;
    width: 100%;
    .header {
        width: 100%;
        height: 30px;
        display: flex;
        padding-top: 16px;
        .weekGrid {
            height: 30px;
            text-align: center;
            width: 100%;
        }
    }
}

.phoneWeek {
    max-width: 560px;
    width: 100%;
    .header {
        max-width: 560px;
        width: 100%;
        height: 30px;
        display: flex;
        padding-top: 16px;
        .weekGrid {
            height: 30px;
            text-align: center;
            width: 100%;
        }
    }
    .content {
        max-width: 560px;
        width: 100%;
        display: flex;
        .weekGrid {
            height: 100%;
            text-align: center;
            width: 100%;
            font-size: 10px;
            width: 14.28%;
            margin: 2px;
            .lessonColumn {
                display: flex;
                flex-direction: column;
                .morning {
                    background: #eee;
                    padding-top: 5px;
                    width: 100%;
                    height: 60px;
                    margin: 2px;
                }
                .afternoon {
                    background: #ccc;
                    padding-top: 5px;
                    width: 100%;
                    height: 60px;
                    margin: 2px;
                }
                .night {
                    background: #aaa;
                    padding-top: 5px;
                    width: 100%;
                    height: 60px;
                    margin: 2px;
                }
            }
        }
    }
}

.detail {
    width: 200px;
    height: 420px;
    background: rgb(247, 247, 247);
    border-radius: 10px;
    overflow: auto;
    .detailHeader {
        height: 60px;
        line-height: 60px;
        padding-left: 20px;
        font-size: 16px;
    }
    .list {
        padding: 0 20px 20px 20px;
        .item {
            .subtitle {
                height: 40px;
                line-height: 40px;
            }
            .card {
                width: 160px;
                height: 100px;
                background: #fff;
                border-radius: 4px;
            }
        }
    }
}