@base-color: #2A89FF;
@8: fade(@base-color, 8%);
@32: fade(@base-color, 32%);
@56: fade(@base-color, 56%);
.schedule {
  width: 100%;
  .title {
    padding: 15px 0 0 20px;
  }
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #EAEDEF;
  .type {
    position: absolute;
    height: 30px;
    display: flex;
    left: 20px;
    top: 15px;
    .button {
      width: 32px;
      line-height: 30px;
      text-align: center;
      margin-right: 10px;
      border: 1px solid #EAEDEF;
      border-radius: 4px;
      color: @base-color;
      .select {
        width: 32px;
        height: 30px;
        color: #fff;
        background: @base-color;
        border-radius: 4px;
      }
    }
  }
  .switch {
    height: 30px;
    width: 120px;
    border: 1px solid #EAEDEF;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .cell {
      width: 60px;
      text-align: center;
      cursor: pointer;
      color: @base-color;
    }
  }
}

.month {
  width: 100%;
  .monthHeader {
    width: 100%;
    height: 50px;
    display: flex;
    .headerGrid {
      height: 50px;
      line-height: 50px;
      text-align: center;
      width: 100%;
    }
  }
  .monthContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .monthGird {
      height: 60px;
      line-height: 60px;
      text-align: center;
      width: 14.285%;
      cursor: pointer;
      color: #ccc;
      .day {
        height: 36px;
        line-height: 60px;
      }
      .text {
        height: 24px;
        line-height: 24px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
    .thisMonth {
      color: #000;
    }
    .today {
      color: @base-color;
    }
    .select {
      background: #F7F8F9;
    }
  }
}

.week {
  width: 100%;
  .weekHeader {
    width: 100%;
    height: 60px;
    display: flex;
    padding-top: 16px;
    font-size: 12px;
    .headerGird {
      text-align: center;
      width: 100%;
    }
    .today {
      color: @base-color;
      .line {
        height: 4px;
        width: ~"calc(100% - 4px)";
        margin: 0 auto;
        background: @base-color;
        border-radius: 5px;
      }
    }
  }
  .weekContent {
    width: 100%;
    height: 100%;
    display: flex;
    .message {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .list {
      height: 100%;
      width: 14.28%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      margin-top: 4px;
      .cell {
        width: ~"calc(100% - 4px)";
        height: 60px;
        padding: 3px 0 3px 3px;
        margin-bottom: 4px;
        .label {
          width: 40px;
          margin: 0 auto;
        }
      }
      .morning {
        background: @8;
      }
      .afternoon {
        background: @32;
      }
      .night {
        background: @56;
      }
    }
  }
}
